
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body{
    font-family: Verdana, Tahoma , Arial;
    background: -webkit-radial-gradient(top, #ccedc0 , rgb(130, 240, 231));												
}


p{
    font-size: 14px;
}

#label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}  
  
#contact_form{  
    width: 480px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #4fd4b3; 
    padding-left: 30px; 
}
  
  
#input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}
  
  
#textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}  
  
#btn{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #bb98f3; 
    border-color: #bb98f3; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
    color: #fff; 
}

  
  
#text_h1{
    font-size: 40px;  
    padding-bottom: top; 
    color:#d27fe7;
}
  
  
#text_h3{
    font-weight: bold; 
    padding-bottom: top;
    color: #0e0e0e;
    font-size: 16px;  

}
  
  
#p_text{
    font-size: 18px; 
    color: #0e0e0e; 
}
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }

#logoImg{
    border-width:2px;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-repeat:no-repeat;
    background-size: contain;
    margin-bottom: 50px;
    margin-left: 75px;

    
}

.contacto{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}


#logoImg2{
    border-width:2px;
    width: 350px;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-repeat:no-repeat;
    background-size: contain;
    margin-bottom: 50px;

    
}
#logoImg1{
    width: 250px;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-repeat:no-repeat;
    background-size: contain;
    margin-bottom: 50px;

}



#comu{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    color: rgb(36, 173, 253);
    text-align: center;

}
#titulo{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: rgb(5, 3, 19);
    text-align: center;

}

#divCont{
    width: 930px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #ffffff;
}

#GNU{
    display:block;
    margin:auto;
    width:800px;
    }


#contenido_principal{
    width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #ffffff;
}


#tituloarticulo{
font-family: Helvetica;
font-size: 30px;
}

#contenido_articulo{
font-family: Helvetica;
font-size: 20px;
}



/*A partir de acá empezamos con el responsive*/
@media all and (min-width: 600px) and (max-width:1023px){
    #divCont{
        width: 600px;
    }

    #contenido_principal{
        width: 660px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        background-color: #ffffff;
    }
    
    #GNU{
        display:block;
        margin:auto;
        width:600px;
        }

}  /*fin de media 600 a 1023px*/

@media all and (max-width:599px){   
    #divCont{
        width: 90%;
    }

    #contenido_principal{
        width: 100%;
    }

    #GNU{
        display:block;
        margin:auto;
        width:100%;
    }

} /*fin de media hasta 599px*/
