body{
    font-family: Verdana, Tahoma , Arial;
    background: -webkit-radial-gradient(top, #ccedc0 , rgb(130, 240, 231));												
}

header{
width: 960px;
height: 70px;
margin-left: auto;
margin-right: auto;
}

p{
font-size: 14px;
}

#marca{
width: 220px;
height: 70px;
float: left; 
}

#botonera_principal{
width: 400px;
height: 40px;
float: right;     
margin-top: 20px;
}


#botonera_principal ul{
margin:0;
padding: 0;
list-style-type: none;
float: right;  
}

#botonera_principal ul li{
display: inline; 
}

#botonera_principal ul li a{
display: inline-block; /*agregado*/
padding: 10px;
background-color: #074f07;
color: #FFFFFF;
font-weight: bold;
text-decoration: none;
}
/*Algunos efectitos para los botones*/
#botonera_principal ul li a:hover{
    color:#000; 
    background-color: rgb(43, 255, 0);   
}
#botonera_principal ul li a:active {
    color: red;
  }

#botonera_principal ul li a:visited { 
    color: purple; 
}
#botonera_principal ul li a:link { 
    color: blue; 
} 

#contenido_principal{
width: 960px;
height: 800px;	 
margin-left: auto;
margin-right: auto;
margin-top: 10px;
}

#imagen1{
width: 350px;
height: 300px;
background-color: #919463;
float: left;
margin-bottom: 10px;
background-image: url(../img/hombrecito.jpg);
background-size: cover;
}

#presentacion{
width: 600px;
height: 300px;
background-color: #32344f;
float: right;
margin-bottom: 10px;
padding: 10px;
box-sizing: border-box;
}

#tituloarticulo{
font-family: Helvetica;
font-size: 30px;
}

#contenido_articulo{
font-family: Helvetica;
font-size: 20px;
}

#texto_contenido{
width: 250px;
height: 300px;
background-color: #8f9985;
float: left;
margin-right: 10px;
margin-bottom: 10px;
padding: 10px;
box-sizing: border-box;
}

#contenido_segundo{
font-family: Helvetica;
font-size: 12px;
}

#imagen2{
width: 440px;
height: 300px;
background-color: #b37062;
float: left;
margin-bottom: 10px;
background-image: url(../img/compudesign.jpg);
background-size: cover;
}

#destacado{
width: 250px;
height: 300px;
background-color: #3d3d3a;
float: right;
margin-bottom: 10px;
padding: 10px;
box-sizing: border-box;
}

#contenido_destacado{
font-family: Arial;
font-size: 30px;
}

#complementario{
width: 960px;
height: 180px;
background-color: #e4f08b;
clear: both;  
}

#imagen_aside{
height: 180px;
width: 960px;
}

footer{
width: 960px;
height: 180px;
background-color: #000000;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
color: #FFFFFF
}

#datos{
width: 300px;
height: 180px;
float: left;
padding: 20px;
box-sizing: border-box;
}

#redes{
width: 350px;
height: 35px;
background-color: #5f5ea8;
float: right;
}

/*A partir de acá empezamos con el responsive*/

@media all and (min-width: 600px) and (max-width:1023px){
   
    header{
    width: 580px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    }
    
    p{
    font-size: 12px;
    }
    
    #marca{
    float: none; 
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    text-align: center;
    }
    
   
    #botonera_principal ul li a{
    display: inline-block; /*agregado*/
    padding: 10px;
    background-color: #074f07;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    }
    
    #contenido_principal{
    width: 580px;
    height: 800px;	 
    /*margin-left: auto;
    margin-right: auto;
    margin-top: 10px;*/
    }
    
    #imagen1{
    width: 200px;
    background-size: cover;
    background-position: center;
    }
    
    #presentacion{
    width: 370px;
    height: 300px;

    }
    
    #texto_contenido{
    width: 285px;
    height: 200px;
    }
    
    #contenido_segundo{
    font-size: 10px;
    }
    
    #imagen2{
    width: 285px;
    height: 200px;
    background-size: cover;
    }
    
    #destacado{
    width: 580px;
    height: 135px;
    }
    
    #contenido_destacado{
    font-size: 18px;
    }
    
    #complementario{
    width: 580px;
    height: 130px;
    }
    
    #imagen_aside{
    width: 580px;
    height: 130px;   
    }
    
    footer{
    width: 580px;
    }   
    
    #redes{
    width: 250px;
    }

}   /*fin de media 600 a 1023px*/

@media all and (max-width:599px){   
    header{
    width: 90%;
    height: auto;
    }
    
    p{
    font-size: 10px;
    }
    
    #marca{
    width: 100%;
    height: auto;
    float: none; 
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    }
    
    #botonera_principal{
    width: 100%;
    height: auto;
    float: none; 
    margin-top: 20px;
    }
     
    #botonera_principal ul{
    margin:0;
    padding: 0;
    list-style-type: none;
    float: none;  
    }
    
    #botonera_principal ul li{
    display: block; 
    }
    
    #botonera_principal ul li a{
    display: block; 
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 5px;
    }
    
    #contenido_principal{
    width: 90%;
    height: auto;	 
    }
    
    #imagen1{
    width: 100%;
    height: 200px; /*pruebita*/
    float: none;
    }
    
    #presentacion{
    width: 100%;
    height: auto; 
    float: none;

    }  
        
    #texto_contenido{
    width: 100%;
    height: auto; 
    float: none;
    margin-right: 0;
    }
    
    
    #imagen2{
    width: 100%;
    height: 150px; /*pruebita2*/
    float: none;
    margin-bottom: 10px;
    background-position: center;
    }
    
    #destacado{
    width: 100%;
    height: auto; 
    float: none;
    }
    #contenido_destacado{
        font-size: 90%;
    }
    
    
    #complementario{
    display: none;
    }
    
    
    footer{
        width: 90%;
        height: auto; 
        float: none;
 
    }
    
    #datos{
    width: 100%;
    height: auto; 
    float: none;
    }
    
    #redes{
    width: 100%;
    height: 35px;
    float: none;
    }
} /*fin de media hasta 599px*/
